---
// Import necessary scripts or styles here
import Divider from './Divider.astro'
---

<section class="about dark:bg-dark bg-white sm:px-12 px-5 dark:text-gray-light">
  <Divider label="About Me" circleClassNames="left-2" />

  <div class="text-left my-1 text-2xl font-semibold">
    <h1>Helping brands to stand out in the digital era.</h1>
    <h2 class="my-3">Together we will set the new status quo.</h2>
    <p>No nonsense, always on the cutting edge.</p>
  </div>

  <div class="flex justify-around items-start my-12 mx-4">
    <div class="max-w-md">
      <p class="text-left mb-6">
        I am a software developer with a deep passion for bringing meaningful
        ideas to life through code. My interest in technology has allowed me to
        advance my skills with my own projects and provided valuable experience
        working with others.
      </p>
      <p class="text-left italic">Always exploring...</p>
    </div>

    <!-- Placeholder for the profile picture -->
    <div
      class="rounded-full h-24 w-24 bg-gray-300 flex items-center justify-center overflow-hidden"
    >
      <!-- Image would go here -->
    </div>
  </div>

  <div class="text-center my-12">
    <h3 class="text-2xl font-bold mb-4">I can help you with.</h3>

    <div class="flex justify-around my-8">
      <div class="text-left">
        <h4 class="text-xl font-bold mb-2">01 Development</h4>
        <p>
          I build scalable websites from scratch that fit seamlessly with
          design. My focus is on micro animations, transitions and interaction.
          For content management I use Kirby CMS.
        </p>
      </div>

      <div class="text-left">
        <h4 class="text-xl font-bold mb-2">02 Webflow Site Management</h4>
        <p>
          Simplified management and personalized assistance to ensure optimal
          operation of your Webflow site. This includes staff training on unique
          online experience.
        </p>
      </div>

      <div class="text-left">
        <h4 class="text-xl font-bold mb-2">03 The full package</h4>
        <p>
          A complete website from concept to implementation, that's what makes
          me stand out. My great sense for design and my development skills
          enable me to create kick-ass projects.
        </p>
      </div>
    </div>
  </div>
</section>
