---
// Import necessary scripts or styles here
import Divider from './Divider.vue'
import { ArrowRightIcon, ArrowDownRightIcon } from '@heroicons/vue/20/solid'
---

<section
  id="about"
  class="about dark:bg-dark bg-white sm:px-12 px-5 dark:text-gray-light"
>
  <Divider label="About Me" circleClassNames="left-2" client:only />

  <div
    class="text-left my-1 text-2xl font-semibold dark:text-white text-[#565560]"
  >
    <h1>Helping brands to stand out in the digital era.</h1>
    <h2 class="my-3">Together we will set the new status quo.</h2>
    <p>No nonsense, always on the cutting edge.</p>
  </div>

  <div
    class="flex sm:flex-row flex-col justify-between sm:w-1/2 w-full items-start my-12"
  >
    <ArrowRightIcon class="h-6 w-6 sm:block hidden" aria-hidden="true" />
    <ArrowDownRightIcon
      class="h-6 w-6 sm:hidden block mb-5"
      aria-hidden="true"
    />
    <div class="max-w-md">
      <p class="text-left mb-6 text-[#565560] dark:text-gray-light">
        I am a software developer with a deep passion for bringing meaningful
        ideas to life through code. My interest in technology has allowed me to
        advance my skills with my own projects and provided valuable experience
        working with others.
      </p>
      <p class="text-left italic">Always exploring...</p>
    </div>
  </div>

  <div class="text-center my-12">
    <h3
      class="text-2xl font-bold mb-4 sm:text-left text-center underline underline-offset-3"
    >
      I can help you with
    </h3>

    <div class="grid sm:grid-cols-3 grid-cols-1 gap-10 my-8">
      <div class="text-left">
        <h4
          class="text-xl font-bold mb-4 sm:border-b sm:pt-0 pt-5 sm:pb-2 pb-0 sm:border-t-0 border-t dark:border-[#82808F] border-gray-divide dark:text-white text-[#161518]"
        >
          Development
        </h4>
        <p>
          I build scalable websites from scratch that fit seamlessly with
          design. My focus is on micro animations, transitions and interaction.
          For content management I use Kirby CMS.
        </p>
      </div>

      <div class="text-left">
        <h4
          class="text-xl font-bold mb-4 sm:border-b sm:pt-0 pt-5 sm:pb-2 pb-0 sm:border-t-0 border-t dark:border-[#82808F] border-gray-divide dark:text-white text-[#161518]"
        >
          Webflow Site Management
        </h4>
        <p>
          Simplified management and personalized assistance to ensure optimal
          operation of your Webflow site. This includes staff training on unique
          online experience.
        </p>
      </div>

      <div class="text-left">
        <h4
          class="text-xl font-bold mb-4 sm:border-b sm:pt-0 pt-5 sm:pb-2 pb-0 sm:border-t-0 border-t dark:border-[#82808F] border-gray-divide dark:text-white text-[#161518]"
        >
          The full package
        </h4>
        <p>
          A complete website from concept to implementation, that's what makes
          me stand out. My great sense for design and my development skills
          enable me to create kick-ass projects.
        </p>
      </div>
    </div>
  </div>
</section>
