---
import Divider from './Divider.vue'
---

<section
  id="skills"
  class="text-center h-auto my-10 sm:px-12 px-5 dark:text-white text-[#1A1A1A]"
>
  <Divider label="Get in touch" circleClassNames="right-5" client:only />
  <div class="w-full">
    <h1
      class="font-bold sm:text-5xl text-3xl sm:w-1/3 w-full sm:text-left text-center"
    >
      Let's work together !!
    </h1>
    <div
      class="mt-10 flex max-sm:flex-col max-sm:gap-5 items-center sm:justify-between sm:w-1/2 w-full"
    >
      <a
        href="mailto:lgorms.pro@gmail.com"
        class="bg-transparent border dark:border-white border-gray-divide px-5 py-3 rounded-3xl hover:opacity-60 sm:w-52 w-full"
        >lgorms.pro@gmail.com</a
      >
      <a
        href="tel:+0033695143759"
        class="bg-transparent border dark:border-white border-gray-divide px-5 py-3 rounded-3xl hover:opacity-60 sm:w-52 w-full"
        >0033695143759</a
      >
      <a
        href="/assets/resume/igorms_resume.pdf"
        download="igorms_resume"
        class="bg-transparent border dark:border-white border-gray-divide px-5 py-3 rounded-3xl hover:opacity-60 sm:w-52 w-full"
      >
        Download my Resume</a
      >
    </div>
  </div>
</section>
