---

---

<section id="footer" class="sm:px-12 px-5 mt-32 mb-3">
  <footer class="bg-transparent shadow w-full">
    <div
      class="flex max-sm:flex-col max-sm:gap-4 sm:justify-around justify-start w-full sm:items-center items-start"
    >
      <div>
        <p class="dark:text-[#82808F] font-light">Socials</p>
        <div class="flex items-center justify-start space-x-3 mt-2">
          <a
            href=""
            target="_blank"
            class="hover:opacity-60 dark:text-gray-divide text-[#1A1A1A]"
            >Linkedin</a
          >
          <a
            href=""
            target="_blank"
            class="hover:opacity-60 dark:text-gray-divide text-[#1A1A1A]"
            >Github</a
          >
          <a
            href=""
            target="_blank"
            class="hover:opacity-60 dark:text-gray-divide text-[#1A1A1A]">X</a
          >
          <a
            href=""
            target="_blank"
            class="hover:opacity-60 dark:text-gray-divide text-[#1A1A1A]"
            >Instagram</a
          >
        </div>
      </div>
      <div>
        <div class="flex items-center justify-start space-x-10">
          <div>
            <p class="dark:text-[#82808F] font-light">Version</p>
            <p class="dark:text-gray-divide text-[#1A1A1A]">2024 Edition</p>
          </div>
          <div>
            <p class="dark:text-[#82808F] font-light">Local Time</p>
            <p class="dark:text-gray-divide text-[#1A1A1A]">France: 12:00</p>
          </div>
        </div>
      </div>
    </div>

    <div></div>
  </footer>
</section>
