---
// Import necessary scripts or styles here
---

<section
  class="hero h-[calc(100vh-80px)] bg-hero-pattern bg-contain bg-center bg-no-repeat relative dark:bg-[#191B1F] bg-[#999D9E] sm:px-12 px-5"
>
  <!-- Desktop -->
  <div
    class="dark:text-gray-light text-light sm:flex hidden justify-between w-full h-full items-center pb-32"
  >
    <div class="w-1/2 flex flex-col mx-auto font-semibold text-4xl">
      <h1>Igor</h1>
      <h1>Moreno Semedo</h1>
    </div>
    <div class="w-1/3 h-full flex flex-col justify-center text-2xl">
      <div class="">
        <p>Senior Software Developer</p>
        <p>Based in France</p>
      </div>
      <div class="flex items-center justify-start space-x-3 mt-5 social-links">
        <a
          id="social-link-linkedin"
          href="#"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img id="social-img-linkedin" src="" alt="LinkedIn" />
        </a>
        <a
          id="social-link-instagram"
          href="#"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img id="social-img-instagram" src="" alt="Instagram" />
        </a>
        <a
          id="social-link-fb"
          href="#"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img id="social-img-fb" src="" alt="Facebook" />
        </a>
        <a
          id="social-link-twitter"
          href="#"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img id="social-img-twitter" src="" alt="Twitter" />
        </a>
        <a
          id="social-link-github"
          href="#"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img id="social-img-github" src="" alt="Github" />
        </a>
      </div>
    </div>
  </div>

  <!-- Mobile -->
  <div
    class="dark:text-gray-light text-light sm:hidden block justify-between w-full h-full items-center pb-32 relative"
  >
    <div class="text-center flex flex-col pt-10 font-semibold text-2xl">
      <h1>Igor</h1>
      <h1>Moreno Semedo</h1>
    </div>
    <div class="text-2xl absolute right-0 left-0 bottom-0">
      <div class="">
        <p>Senior Software Developer</p>
        <p>Based in France</p>
      </div>
      <div class="flex items-center justify-start space-x-3 mt-5 social-links">
        <a
          id="social-link-linkedin"
          href="#"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img id="social-img-linkedin" src="" alt="LinkedIn" />
        </a>
        <a
          id="social-link-instagram"
          href="#"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img id="social-img-instagram" src="" alt="Instagram" />
        </a>
        <a
          id="social-link-fb"
          href="#"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img id="social-img-fb" src="" alt="Facebook" />
        </a>
        <a
          id="social-link-twitter"
          href="#"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img id="social-img-twitter" src="" alt="Twitter" />
        </a>
        <a
          id="social-link-github"
          href="#"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img id="social-img-github" src="" alt="Github" />
        </a>
      </div>
    </div>
  </div>
</section>

<script is:inline>
  const updateSocialIcons = () => {
    const theme = window.theme || 'light'
    document.querySelectorAll('.social-links a').forEach((link) => {
      const platform = link.id.replace('social-link-', '')
      const img = link.querySelector('img')
      img.src = `src/assets/socials/${platform}_${theme}.svg`
    })
  }

  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', updateSocialIcons)
  } else {
    updateSocialIcons()
  }
</script>
