---
import Divider from './Divider.vue'
const skills = [
  'angular',
  'astro',
  'javascript',
  'nestjs',
  'next',
  'nodejs',
  'nuxt',
  'python',
  'react',
  'shadcn',
  'tailwind',
  'typescript',
  'vuejs',
]
---

<section
  id="skillsSlider"
  class="swiper text-white text-center h-auto my-10 sm:px-12 px-5"
>
  <Divider label="Skills" circleClassNames="left-1/4" client:only />

  <ul class="swiper-wrapper sm:px-12 px-5 sm:mt-10 mt-7" data-cursor="swipe">
    {
      skills.map((skill) => (
        <li class="swiper-slide text-center mx-auto">
          <img
            src={`src/assets/stack/${skill}.svg`}
            alt={skill}
            class="sm:h-20 sm:w-20 w-16 h-16"
          />
        </li>
      ))
    }
  </ul>
</section>

<script>
  import 'swiper/css'
  import Swiper from 'swiper' // Import Swiper
  import { register } from 'swiper/element/bundle'
  register()

  document.addEventListener('DOMContentLoaded', () => {
    new Swiper('#skillsSlider', {
      loop: true,
      autoplay: false,
      grabCursor: false,
      mousewheel: true,
      spaceBetween: 30,
      navigation: true,
      breakpoints: {
        320: {
          slidesPerView: 4,
          spaceBetween: 15,
        },
        640: {
          slidesPerView: 6,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 7,
          spaceBetween: 25,
        },
        1024: {
          slidesPerView: 8,
          spaceBetween: 30,
        },
        1280: {
          slidesPerView: 9,
          spaceBetween: 30,
        },
        1536: {
          slidesPerView: 10,
          spaceBetween: 30,
        },
      },
    })
  })
</script>
